body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            overflow: hidden;    
}

.quadrado{  
            width: 150px;
            height: 80px;
            background-color: red;
            position: absolute;
            transform-origin: center;
}

